#wrapper{
    /* padding-top:15vh;
    padding-bottom:200px;
    overflow-y:scroll;
    height:100vh; */
    display:flex;
    flex-flow: column;
    
    justify-content: center;
}

#wrapper::after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    height: 14vh;
    width:100%;
    transform: skewY(-2deg);
    background: -webkit-gradient(linear,left top,right top,from(#65e0be),to(#c2e065));
    background: linear-gradient(to right,#65e0be,#c2e065);
    transform-origin: bottom left;
    z-index: -2;
}

@media print, screen and (min-width: 64em) {
    #wrapper{
        height: 100vh;
        overflow-y: scroll;
    }
}

@media print, screen and (max-width: 64em) {
    header h2{
        margin-bottom:40px
    }
}

header h1{
    font-family: 'Rokkitt', serif;
    font-size: 40px;
}

html, html *{
    font-family: 'Rokkitt', serif;
}

h1, h1 *, h2, h2 *, h3, h3 * , h4, h4 *, h5, h5 *{
    font-family: 'Lexend Mega', sans-serif;
}

.lead{
    font-size:24px;
}

.my-input{
    position: relative;
    padding-bottom: 2px;
    margin-bottom:30px;
}

.my-input input, .my-input textarea,
.my-input input:focus, .my-input textarea:focus,
.my-input input:hover, .my-input textarea:hover,
.my-input input:active, .my-input textarea:active{
    margin:0;
    box-shadow: none;
    border: 0;
    background:none;
    padding: 0;
    height: auto;
}

.my-input .form-error{
    position: absolute;
    bottom:-25px;
    margin:0;
}

.underlined, .tabs-title > a{
    position: relative;
}
.underlined::before, .tabs-title > a:before, .my-input:before {
    content:"";
    background: #c2e065;
    width: 100%;
    position: absolute;
    z-index: -1;
    bottom: 0;
    opacity: .6;
    height: 2px;
    transition: all .15s ease-in-out;
}

.underlined:hover::before, .tabs-title > a[aria-selected="true"]:before, .tabs-title > a:hover::before, .my-input:hover::before{
    opacity: 1;
    height: 40%;
}

.collapsed{
    overflow:hidden;
    position: relative;
}

.collapsed .gradientback{
    display: block;
}

.gradientback{
    display: none;
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
    height:100px;
    background: -moz-linear-gradient(top,  rgba(199, 199, 199, 0) 0%, rgb(254, 254, 254) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(199, 199, 199, 0)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(199, 199, 199, 0) 0%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(199, 199, 199, 0) 0%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(199, 199, 199, 0) 0%,rgba(254,254,254,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(199, 199, 199, 0) 0%,rgba(254,254,254,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}

ul:not(.tabs){
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

ul:not(.tabs) li {
    padding-left: 1em;
    text-indent: -1em;
}

ul:not(.tabs):not(.no-bullets) li:before {
    content: "#";
    padding-right: 5px;
    font-family: -system-ui,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    background: -webkit-gradient(linear,left top,right top,from(#c2e065),to(#65e0be));
    background: linear-gradient(to right,#c2e065,#65e0be);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-decoration: none;
}

.skills-list li{
    display: flex;
    justify-content: space-between;
    margin-bottom:20px;
}

.skills-marker{
    font-family: -system-ui,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    background: -webkit-gradient(linear,left top,right top,from(#c2e065),to(#65e0be));
    background: linear-gradient(to right,#c2e065,#65e0be);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    padding: 0 0 0 40px;
    display: inline-block;
    line-height: 14px;
}

.extra-skill-info{
    display: block;
    padding-left:10px;
    color: gray;
    font-size: 14px;
}

.gradient-color{
    background: -webkit-gradient(linear,left top,right top,from(#c2e065),to(#65e0be));
    background: linear-gradient(to right,#c2e065,#65e0be);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-decoration: none;
}

.profile-link{
    font-size:30px;
    margin-right:10px;
    color: #c2e065;
}

.profile-link:hover, .profile-link:active{
    color:#65e0be;
}

.button{
  flex: 1 1 auto;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 2px;
  background-image: linear-gradient(to right, #c2e065 0%, #65e0be 51%, #c2e065 100%);
  padding:0 5px;
}

.button:hover {
    background-position: right center; /* change the direction of the change here */
}

.tabs{
    border:0;
    background:none;
}

.tabs-title{
    padding: 0 1.25rem 0 0;
}

.tabs-title > a{
    background:none !important;
    font-size: 28px;
    padding: 0;
    color: black !important;
}

@media print, screen and (max-width: 40em) {
    .tabs-title > a{
        font-size: 22px;
    }
}

.tabs-content{
    background:none;
    border:0;
}

.tabs-panel{
    padding:1rem 0 0 0;
}